Repository stampchain-io/BTCStampsExplorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Path conditions:
  deno-fmt: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-lint: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-check: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  tests/.*
)$

  import-pattern-validation: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/migrate-.*\.ts|
  scripts/update-imports.*\.ts
)$

  check-secrets: any of: \.(ts|tsx|js|jsx)$
  check-todos: any of: \.(ts|tsx)$

sync: merge main back to dev after release #992
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/integration/cross-module/runtime-type-resolution.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

fix(ci): rollback procedure testing passes in CI
  .github/workflows/production-validation.yml
  deno.json
Due: none

fix(ci): add service infrastructure to rollback testing and fix TS syntax bug
  .github/workflows/production-validation.yml
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): rollback procedure testing passes in CI (#994)
  .github/workflows/production-validation.yml
  deno.json
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): rollback procedure testing with proper service infrastructure
  .github/workflows/production-validation.yml
  deno.json
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): rollback procedure testing with proper service infrastructure (#995)
  .github/workflows/production-validation.yml
  deno.json
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): make rollback health checks CI-aware
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): replace stamp_creation with fixture data check in CI
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): make rollback health checks CI-aware (#996)
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(ci): add missing comprehensive report generation script
  scripts/deployment/generate-comprehensive-report.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(ci): add missing comprehensive report generation script (#997)
  scripts/deployment/generate-comprehensive-report.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): sync CI fixes from main - health checks and comprehensive report
  scripts/deployment/automated-rollback.ts
  scripts/deployment/generate-comprehensive-report.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): sync CI fixes from main - health checks and report (#998)
  scripts/deployment/automated-rollback.ts
  scripts/deployment/generate-comprehensive-report.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): proper POST health check with mock API server for rollback testing
  .github/workflows/production-validation.yml
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): proper POST health check with mock API server (#1000)
  .github/workflows/production-validation.yml
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): sync POST health check fixes from main
  .github/workflows/production-validation.yml
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): sync POST health check fixes from main (#1001)
  .github/workflows/production-validation.yml
  scripts/deployment/automated-rollback.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(redis): eliminate OOM-causing "never" TTL keys and fix cache bugs
  CACHE-MIGRATION-NOTES.md
  routes/api/v2/stamp/[stamp]/preview.ts
  server/database/blockRepository.ts
  server/database/databaseManager.ts
  server/services/core/blockService.ts
  tests/unit/appendToCachedList.ttl.test.ts
  tests/unit/invalidateCacheByPatternScan.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(redis): Eliminate ElastiCache OOM — remove 'never' TTL keys, fix cache bugs (#1002)
  CACHE-MIGRATION-NOTES.md
  routes/api/v2/stamp/[stamp]/preview.ts
  server/database/blockRepository.ts
  server/database/databaseManager.ts
  server/services/core/blockService.ts
  tests/unit/appendToCachedList.ttl.test.ts
  tests/unit/invalidateCacheByPatternScan.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Release: Redis OOM fix + CI improvements + test hardening (#1003)
  CACHE-MIGRATION-NOTES.md
  routes/api/v2/stamp/[stamp]/preview.ts
  server/database/blockRepository.ts
  server/database/databaseManager.ts
  server/services/core/blockService.ts
  tests/unit/appendToCachedList.ttl.test.ts
  tests/unit/invalidateCacheByPatternScan.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(preview): add S3+CloudFront storage for stamp preview images (task 17)
  deno.json
  env-templates/production.json
  routes/api/v2/stamp/[stamp]/preview.ts
  scripts/backfill-preview-images.ts
  server/config/config.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(preview): S3+CloudFront storage for stamp previews (task 17) (#1004)
  deno.json
  env-templates/production.json
  routes/api/v2/stamp/[stamp]/preview.ts
  scripts/backfill-preview-images.ts
  server/config/config.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(preview): S3+CloudFront storage for stamp previews (Task 17) (#1006)
  deno.json
  env-templates/production.json
  routes/api/v2/stamp/[stamp]/preview.ts
  scripts/backfill-preview-images.ts
  server/config/config.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(preview): improve S3 error logging for debugging UnknownError
  routes/api/v2/stamp/[stamp]/preview.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(preview): improve S3 error logging for UnknownError diagnosis (#1007)
  routes/api/v2/stamp/[stamp]/preview.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix: sync dev with main - add S3 error logging from hotfix (#1007)
  routes/api/v2/stamp/[stamp]/preview.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix: sync dev with main - S3 error logging from hotfix #1007 (#1009)
  routes/api/v2/stamp/[stamp]/preview.ts
  server/services/aws/previewStorageService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): resolve false-positive cron job failures in Newman and daily regression workflows
  .github/workflows/daily-regression-tests.yml
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix(ci): resolve false-positive cron job failures (#1010)
  .github/workflows/daily-regression-tests.yml
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix(ci): resolve false-positive cron job failures (#1012)
  .github/workflows/daily-regression-tests.yml
  .github/workflows/newman-comprehensive-tests.yml
Due: none

refactor: update documentation and test references to reflect new project name
  AGENTS.md
  README.md
  tests/unit/internalApiFrontendGuard.test.ts
  tests/unit/maraSlipstreamService.comprehensive.test.ts
  tests/unit/serverConfig.comprehensive.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

docs: update integration and debugging guides to reflect project name change to stampchain.io
  islands/sorting/INTEGRATION_GUIDE.md
  scripts/README_STAMP_DEBUGGING.md
  tests/postman/RUN_NEW_TESTS.md
  tests/postman/VALIDATION_QUICK_REF.md
Due: none

chore: update test schema and seed data references to reflect project name change to stampchain.io
  scripts/test-schema.sql
  scripts/test-seed-data.sql
  tests/postman/collections/smoke-tests.json
Due: none

chore: update project references to reflect name change to stampchain.io
  client/wallet/horizon.ts
  config/rateLimits.ts
  lib/types/api.d.ts
  lib/types/fee-estimation.ts
  lib/types/index.d.ts
  lib/types/src20.d.ts
  lib/utils/bitcoin/minting/TransactionConstructionService.ts
  lib/utils/bitcoin/src20/errorHandling.tsx
  lib/utils/performance/fees/fee-estimation-utils.ts
  scripts/add-data-validation.ts
  scripts/analyze-null-safety-errors.ts
  scripts/analyze-ts18048-errors.ts
  scripts/analyze-type-errors.ts
  scripts/diagnoseProd.ts
  scripts/jsx-preact-agent-monitor.ts
  scripts/monitorMemory.ts
  scripts/performance/validate-performance-impact.ts
  scripts/task-verification.ts
  scripts/type-testing-pipeline.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

chore: update load testing scripts and test references to reflect project name change to stampchain.io
  scripts/load-testing/production-load-test.js
  tests/types/core.type.test.ts
  tests/unit/test_seed_data_syntax.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

feat(wallet): add Xverse wallet integration (task 9)
  client/wallet/walletHelper.ts
  client/wallet/xverse.ts
  islands/layout/WalletProvider.tsx
  lib/constants/walletProviders.ts
  lib/types/wallet.d.ts
  static/img/wallet/xverse/README.md
  static/img/wallet/xverse/logo_xverse.png
  static/img/wallet/xverse/logo_xverse.svg
  tests/unit/constants.test.ts
  tests/unit/wallet/xverse.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Repo rename updates (#1013)
  AGENTS.md
  README.md
  client/wallet/horizon.ts
  config/rateLimits.ts
  islands/sorting/INTEGRATION_GUIDE.md
  lib/types/api.d.ts
  lib/types/fee-estimation.ts
  lib/types/index.d.ts
  lib/types/src20.d.ts
  lib/utils/bitcoin/minting/TransactionConstructionService.ts
  lib/utils/bitcoin/src20/errorHandling.tsx
  lib/utils/performance/fees/fee-estimation-utils.ts
  scripts/README_STAMP_DEBUGGING.md
  scripts/add-data-validation.ts
  scripts/analyze-null-safety-errors.ts
  scripts/analyze-ts18048-errors.ts
  scripts/analyze-type-errors.ts
  scripts/diagnoseProd.ts
  scripts/jsx-preact-agent-monitor.ts
  scripts/load-testing/production-load-test.js
  scripts/monitorMemory.ts
  scripts/performance/validate-performance-impact.ts
  scripts/task-verification.ts
  scripts/test-schema.sql
  scripts/test-seed-data.sql
  scripts/type-testing-pipeline.ts
  tests/postman/RUN_NEW_TESTS.md
  tests/postman/VALIDATION_QUICK_REF.md
  tests/postman/collections/smoke-tests.json
  tests/types/core.type.test.ts
  tests/unit/internalApiFrontendGuard.test.ts
  tests/unit/maraSlipstreamService.comprehensive.test.ts
  tests/unit/serverConfig.comprehensive.test.ts
  tests/unit/test_seed_data_syntax.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(wallet): Xverse wallet integration (task 9) (#1014)
  client/wallet/walletHelper.ts
  client/wallet/xverse.ts
  islands/layout/WalletProvider.tsx
  lib/constants/walletProviders.ts
  lib/types/wallet.d.ts
  static/img/wallet/xverse/README.md
  static/img/wallet/xverse/logo_xverse.png
  static/img/wallet/xverse/logo_xverse.svg
  tests/unit/constants.test.ts
  tests/unit/wallet/xverse.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos
