Repository stampchain-io/BTCStampsExplorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Path conditions:
  deno-fmt: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-lint: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-check: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  tests/.*
)$

  import-pattern-validation: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/migrate-.*\.ts|
  scripts/update-imports.*\.ts
)$

  check-secrets: any of: \.(ts|tsx|js|jsx)$
  check-todos: any of: \.(ts|tsx)$

feat(icon): enhance UserProfileIcon to support navigation links
  components/icon/UserProfileIcon.tsx
  islands/content/stampDetailContent/StampInfo.tsx
  islands/header/CollectionDetailHeader.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor(card, table): streamline layout and remove unused variables
  components/card/CollectionCard.tsx
  components/table/src20OverviewTable/SRC20Minting.tsx
  components/table/src20OverviewTable/SRC20MintingCompact.tsx
  components/table/src20OverviewTable/SRC20Overview.tsx
  components/table/src20OverviewTable/SRC20OverviewCompact.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor(src20): centralize image URL generation for SRC20 rows
  lib/utils/ui/media/imageUtils.ts
  server/database/src20Repository.ts
  server/services/src20/queryService.ts
  server/services/src20/utilityService.ts
  server/utils/src20ImageUrl.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor(indicators): update tooltip labels for sales status clarity
  components/indicators/ActivityLevelIcon.tsx
  components/indicators/ActivityLevelIndicator.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor(statistics, sales): streamline activity level handling and update data formatting
  components/layout/StatStyles.tsx
  components/table/stampDetailsTable/StampSales.tsx
  islands/table/DetailsTableBase.tsx
  lib/types/ui.d.ts
  lib/utils/dataPlaceholderDev.ts
  routes/marketplace/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(dataPlaceholder): set DATA_PLACEHOLDER_DEV to false for production readiness
  lib/utils/dataPlaceholderProd.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor(indicators): update COLD state handling in ActivityLevel components
  components/indicators/ActivityLevelIcon.tsx
  components/indicators/ActivityLevelIndicator.tsx
  components/layout/StatStyles.tsx
  islands/card/StampCard.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(stampRepository): refine stamp filtering logic to exclude SRC-721 from cursed/classic/posh types
  server/database/stampRepository.ts
  tests/fixtures/stampData.json
  tests/mocks/mockDatabaseManager.ts
  tests/unit/stampRepository.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(filter): implement range reset functionality in Filter components
  islands/filter/FilterContentExplorer.tsx
  islands/filter/FilterContentExplorerSRC20.tsx
  islands/filter/FilterContentExplorerStamp.tsx
  islands/filter/FilterContentMarketplace.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(sort): enhance SortButton functionality and integrate sort state management
  islands/button/SortButton.tsx
  islands/filter/FilterOptionsExplorer.tsx
  islands/filter/FilterOptionsExplorerSRC20.tsx
  islands/header/ExplorerHeader.tsx
  islands/header/MarketplaceHeader.tsx
  lib/types/ui.d.ts
  routes/explorer/index.tsx
  routes/marketplace/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(header): integrate ScrollFadeRow for smoother section transitions in ExplorerHeader
  islands/header/ExplorerHeader.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(constants): add new hidden collection names to constants
  lib/constants/constants.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(wallet): add Wonder Wallet connect adapter
  client/wallet/wallet.ts
  client/wallet/walletHelper.ts
  client/wallet/wonder.ts
  islands/layout/WalletProvider.tsx
  lib/constants/walletProviders.ts
  static/img/wallet/wonder/logo_wonder.svg
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(wallet): recognize Wonder in provider snapshot test and validity guard
  lib/utils/typeGuards.ts
  tests/unit/constants.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

test(wallet): add unit tests for Wonder wallet adapter
  tests/unit/wallet/wonder.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

refactor(wallet): enhance Wonder wallet integration and type definitions
  client/wallet/wallet.ts
  client/wallet/wonder.ts
  lib/types/wallet.d.ts
  tests/unit/wallet/wonder.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

docs: update agent and development workflow documentation for LOCAL_HTTPS
  .cursor/rules/development_workflow.mdc
  .cursor/rules/environment.mdc
  AGENTS.md
  CLAUDE.md
  fresh.config.ts
  lib/utils/dataPlaceholderProd.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

chore: update .gitignore to include local HTTPS certificate files
  .gitignore
Due: none

feat(wallet): support legacy (P2PKH) signing for Wonder via prevTxs
  client/wallet/wonder.ts
  lib/utils/bitcoin/psbt/psbtUtils.ts
  tests/unit/psbtUtils.prevtxs.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

test(wallet): exercise the real Wonder adapter for patch coverage
  tests/unit/wallet/wonder.adapter.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

chore(css): drop unreferenced static/modal-old.css backup
  static/modal-old.css
Due: none

feat(sops): add encrypted prod/dev env backups from EC2 instance
  env-backups/README.md
  env-backups/indexer-prod.env.enc
  env-backups/stampsdev.env.local.enc
Due: none

feat(wallet): add Wonder Wallet connect adapter (#1236)
  .cursor/rules/development_workflow.mdc
  .cursor/rules/environment.mdc
  .gitignore
  AGENTS.md
  CLAUDE.md
  client/wallet/wallet.ts
  client/wallet/walletHelper.ts
  client/wallet/wonder.ts
  fresh.config.ts
  islands/layout/WalletProvider.tsx
  lib/constants/walletProviders.ts
  lib/types/wallet.d.ts
  lib/utils/bitcoin/psbt/psbtUtils.ts
  lib/utils/dataPlaceholderProd.ts
  lib/utils/typeGuards.ts
  static/img/wallet/wonder/logo_wonder.svg
  tests/unit/constants.test.ts
  tests/unit/psbtUtils.prevtxs.test.ts
  tests/unit/wallet/wonder.adapter.test.ts
  tests/unit/wallet/wonder.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Add SOPS-encrypted prod/dev env backups (#1075)
  env-backups/README.md
  env-backups/indexer-prod.env.enc
  env-backups/stampsdev.env.local.enc
Due: none
