Repository stampchain-io/BTCStampsExplorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Path conditions:
  deno-fmt: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-lint: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-check: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  tests/.*
)$

  import-pattern-validation: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/migrate-.*\.ts|
  scripts/update-imports.*\.ts
)$

  check-secrets: any of: \.(ts|tsx|js|jsx)$
  check-todos: any of: \.(ts|tsx)$

Release: Newman test hardening + repo rename (#975)
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  .gitignore
  .pre-commit-config.yaml
  .taskmasterconfig
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  components/notification/doc.md
  deno.json
  env-templates/database-pool-configuration.md
  fresh.gen.ts
  islands/sorting/README.md
  islands/sorting/SortingStyles.tsx
  islands/sorting/hooks/useSortingURL.tsx
  package.json
  routes/api/proxy/arweave/[...path].ts
  routes/api/proxy/ordinals/[...path].ts
  routes/src20/index.tsx
  scripts/audit-endpoint-coverage.ts
  scripts/update-post-tests.py
  scripts/validate-post-tests.sh
  server/controller/stampController.ts
  server/database/src20Repository.ts
  server/middleware/rateLimiter.ts
  server/services/memory/commonPools.ts
  server/services/src20/marketDataEnrichmentService.ts
  server/types/index.d.ts
  tests/postman/collections/comprehensive.json
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix: Lighthouse CI workflow + async script loading unit tests
  .github/workflows/lighthouse-ci.yml
  tests/unit/routes/_app.test.tsx
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

fix(ci): use npm install instead of npm ci for Lighthouse workflow
  .github/workflows/lighthouse-ci.yml
Due: none

fix(ci): rewrite Lighthouse CI to use GHA services instead of docker compose
  .github/workflows/lighthouse-ci.yml
Due: none

fix(ci): add mock external API server to Lighthouse workflow
  .github/workflows/lighthouse-ci.yml
Due: none

fix(ci): use lhci collect+assert instead of autorun
  .github/workflows/lighthouse-ci.yml
Due: none

fix: use CommonJS module.exports in lighthouserc.js for LHCI CLI
  lighthouserc.js
Due: deno-fmt, check-secrets

fix: rename lighthouserc.js to lighthouserc.cjs
  .github/workflows/lighthouse-ci.yml
  lighthouserc.cjs
Due: none

fix(ci): make Lighthouse CI non-blocking while test data is incomplete
  .github/workflows/lighthouse-ci.yml
Due: none

fix: Lighthouse CI workflow + async script loading unit tests (#976)
  .github/workflows/lighthouse-ci.yml
  lighthouserc.cjs
  tests/unit/routes/_app.test.tsx
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

fix: Lighthouse CI full coverage with seed data alignment
  .github/workflows/lighthouse-ci.yml
  lighthouserc.cjs
  scripts/test-seed-data.sql
Due: none

fix: Lighthouse CI full coverage with seed data alignment (#977)
  .github/workflows/lighthouse-ci.yml
  lighthouserc.cjs
  scripts/test-seed-data.sql
Due: none

fix: truncate carousel tx_hashes to 64 chars (VARCHAR limit)
  scripts/test-seed-data.sql
Due: none

fix: truncate carousel tx_hashes to 64 chars (#978)
  scripts/test-seed-data.sql
Due: none

fix: use NULL for last_activity_time (INT column, not datetime)
  scripts/test-seed-data.sql
Due: none

fix: seed data type mismatch for last_activity_time (#979)
  scripts/test-seed-data.sql
Due: none

fix: relax Lighthouse CI preset assertions for dev environment
  lighthouserc.cjs
Due: none

fix: relax Lighthouse CI preset assertions for dev environment (#980)
  lighthouserc.cjs
Due: none

fix: add select-name and color-contrast to warn-only assertions
  lighthouserc.cjs
Due: none

fix: add select-name and color-contrast to Lighthouse warn-only list (#981)
  lighthouserc.cjs
Due: none

ci: bump the github-actions group with 4 updates
  .github/workflows/lighthouse-ci.yml
  .github/workflows/newman-comprehensive-tests.yml
Due: none

ci: bump the github-actions group with 4 updates (#982)
  .github/workflows/lighthouse-ci.yml
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix: align Newman and cross-module tests with actual implementations
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/postman/collections/comprehensive.json
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

fix: align Newman and cross-module tests with actual implementations (#983)
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/postman/collections/comprehensive.json
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

fix(ci): resolve remaining CI failures across test suites
  .github/workflows/newman-comprehensive-tests.yml
  scripts/detect-ssr-unsafe-navigation.ts
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/integration/cross-module/runtime-type-resolution.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): resolve remaining CI failures across test suites (#984)
  .github/workflows/newman-comprehensive-tests.yml
  scripts/detect-ssr-unsafe-navigation.ts
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/integration/cross-module/runtime-type-resolution.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(ci): run schema contract tests against local dev, not production
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix(ci): run schema contract tests against local dev, not production (#985)
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix: correct schema contract test assertions to match actual API response shapes
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: correct schema contract test assertions (#986)
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: add schema-contract-tests.json to Newman workflow triggers
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix: add schema-contract-tests.json to Newman workflow triggers (#987)
  .github/workflows/newman-comprehensive-tests.yml
Due: none

fix: move data-existence guards outside pm.test() for schema contracts
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: move schema contract data guards outside pm.test() (#988)
  tests/postman/collections/schema-contract-tests.json
Due: none

debug: add diagnostic tests to see actual SRC-20 balance response shape
  tests/postman/collections/schema-contract-tests.json
Due: none

debug: add diagnostic tests for schema contract failures (#989)
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: use dedicated test_src20_address for SRC-20 balance schema tests
  .github/workflows/newman-comprehensive-tests.yml
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: use dedicated test_src20_address for SRC-20 balance schema tests (#990)
  .github/workflows/newman-comprehensive-tests.yml
  tests/postman/collections/schema-contract-tests.json
Due: none

fix: disable Deno timer leak sanitizers in cross-module integration tests
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/integration/cross-module/runtime-type-resolution.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

release: CI test infrastructure fixes and schema contract validation (#992)
  .github/workflows/lighthouse-ci.yml
  .github/workflows/newman-comprehensive-tests.yml
  lighthouserc.cjs
  lighthouserc.js
  package.json
  scripts/detect-ssr-unsafe-navigation.ts
  scripts/test-seed-data.sql
  tests/integration/cross-module/integration-test-runner.test.ts
  tests/integration/cross-module/runtime-type-resolution.test.ts
  tests/postman/collections/comprehensive.json
  tests/postman/collections/schema-contract-tests.json
  tests/unit/routes/_app.test.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos
