Repository stampchain-io/BTCStampsExplorer: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

deno-fmt:
  name: Deno Format Check
  entry: deno
  args:
  - fmt
  - --check
  language: system

deno-lint:
  name: Deno Lint Check
  entry: deno
  args:
  - lint
  - --quiet
  language: system

deno-check:
  name: Deno Type Check
  entry: deno
  args:
  - check
  - main.ts
  language: system

import-pattern-validation:
  name: Import Pattern Validation
  description: Validates import patterns to prevent $globals usage and enforce alias imports
  entry: deno
  args:
  - task
  - check:imports:ci
  language: system
  stages:
  - commit

check-secrets:
  name: Check for Secrets
  entry: bash
  args:
  - -c
  ...

check-todos:
  name: Check TODO Comments
  entry: bash
  args:
  - -c
  ...

fix(ci): exclude encrypted .env.enc from security validation check
  .github/workflows/production-validation.yml
Due: none

fix(ci): exclude encrypted .env.enc from security validation (#1089)
  .github/workflows/production-validation.yml
Due: none

sync: exclude .env.enc from security validation (#1090)
  .github/workflows/production-validation.yml
Due: none

feat: add AI crawler rules, JSON-LD structured data, and AI plugin manifest
  components/layout/MetaTags.tsx
  static/.well-known/ai-plugin.json
  static/robots.txt
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat: SNN web terminal & burner wallet broadcast flows
  certs/mysql-dev-ca.pem
  components/news/BroadcastCard.tsx
  deno.json
  docker-compose.dev.yml
  fresh.gen.ts
  islands/news/ProfileRedirect.tsx
  islands/news/PublishPortal.tsx
  lib/constants/database.ts
  routes/api/v2/news/auth/burner/generate.ts
  routes/api/v2/news/auth/burner/publish.ts
  routes/api/v2/news/auth/burner/status.ts
  routes/api/v2/news/auth/challenge.ts
  routes/api/v2/news/auth/construct-publish.ts
  routes/api/v2/news/auth/login.ts
  routes/api/v2/news/auth/logout.ts
  routes/api/v2/news/broadcasts.ts
  routes/api/v2/news/publisher/[address].ts
  routes/news/[address].tsx
  routes/news/index.tsx
  routes/news/profile/me.tsx
  routes/news/publish.tsx
  server/controller/newsController.ts
  server/database/databaseManager.ts
  server/database/newsRepository.ts
  server/services/counterpartyApiService.ts
  server/services/news/auth.ts
  server/services/news/index.ts
  server/services/news/queryService.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(snn): improve burner wallet UX (funding targets & localStorage)
  islands/news/PublishPortal.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

REVIEW: #1164 service-fee consolidation to prod (stampdetach/fairmint/dispense) (#1177)
  routes/api/v2/create/dispense.ts
  routes/api/v2/fairmint/compose.ts
  routes/api/v2/trx/stampattach.ts
  routes/api/v2/trx/stampdetach.ts
  server/config/config.ts
  tests/integration/stampdetach.test.ts
  tests/postman/collections/comprehensive.json
  tests/unit/serviceFeeRouteMigration.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

fix(readme): remove broken codecov badge
  README.md
Due: none

fix(readme): remove broken codecov badge (#1178)
  README.md
Due: none

docs(contributing): document the dev→main branch & deployment model
  CONTRIBUTING.md
Due: none

docs(contributing): document dev→main branch & deployment model (#1179)
  CONTRIBUTING.md
Due: none

fix(ci): make husky prepare script tolerant of production installs
  package.json
Due: none

fix(ci): guard husky prepare script against production installs (#1180)
  package.json
Due: none

release: promote dev to production (2026-07-06) (#1182)
  CONTRIBUTING.md
  README.md
  package.json
Due: none

docs(contributing): promotions land as merge commits, not squashes
  CONTRIBUTING.md
Due: none

docs(contributing): promotions land as merge commits, not squashes (#1184)
  CONTRIBUTING.md
Due: none

refactor: restructure filter components for enhanced organization and functionality
  islands/filter/FilterContentExplorer.tsx
  islands/filter/FilterContentExplorerSRC20.tsx
  islands/filter/FilterContentExplorerStamp.tsx
  islands/filter/FilterContentMarketplace.tsx
  islands/filter/FilterDrawer.tsx
  islands/filter/FilterOptionsExplorer.tsx
  islands/filter/FilterOptionsExplorerSRC20.tsx
  islands/filter/FilterOptionsExplorerStamp.tsx
  lib/types/ui.d.ts
  routes/explorer/index.tsx
  routes/stamp/index.tsx
  tests/unit/filter/filterQueryParams.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update filter imports and manifest for new Explorer components
  fresh.gen.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update filter imports for Explorer components
  islands/header/StampOverviewHeader.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update button color scheme and variants for consistency
  components/button/ButtonBase.tsx
  components/button/ReadAllButton.tsx
  components/button/ToggleSwitchButton.tsx
  components/button/ViewAllButton.tsx
  components/button/doc.md
  components/button/styles.ts
  components/indicators/TransactionStatus.tsx
  components/section/howto/ArticlesOverviewBase.tsx
  components/table/src20OverviewTable/SRC20MintingNarrow.tsx
  islands/button/SelectorButtons.tsx
  islands/button/ToggleButton.tsx
  islands/content/WalletDetails.tsx
  islands/content/WalletDispenserDetails.tsx
  islands/content/stampDetailContent/StampInfo.tsx
  islands/filter/FilterContentExplorer.tsx
  islands/filter/FilterContentMarketplace.tsx
  islands/filter/FilterDrawer.tsx
  islands/header/ExplorerHeader.tsx
  islands/header/MarketplaceHeader.tsx
  islands/header/SRC20OverviewHeader.tsx
  islands/header/StampOverviewHeader.tsx
  islands/modal/FilterSRC20Modal.tsx
  islands/section/FeeCalculatorBase.tsx
  islands/section/cta/ContactCta.tsx
  islands/section/cta/DonateCta.tsx
  islands/section/cta/GetStampingCta.tsx
  islands/section/cta/RecursiveContactCta.tsx
  islands/section/cta/StampPoshCta.tsx
  islands/section/cta/StampchainContactCta.tsx
  islands/tool/src101/RegisterTool.tsx
  islands/tool/stamp/TradeTool.tsx
  routes/_404.tsx
  routes/media/index.tsx
  routes/presskit/index.tsx
  tests/types/client.type.test.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: enhance API and data structures for improved functionality
  lib/constants/uiConstants.ts
  lib/types/api.d.ts
  lib/types/constants.ts
  lib/types/marketData.d.ts
  lib/types/stamp.d.ts
  lib/utils/devDummyData.ts
  server/database/src20Repository.ts
  server/database/stampRepository.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update class assignments and styles for table components
  components/table/explorerTable/SRC20Overview.tsx
  components/table/explorerTable/StampOverview.tsx
  components/table/marketplaceTable/StampListings.tsx
  components/table/marketplaceTable/StampSales.tsx
  components/table/src20OverviewTable/SRC20Minting.tsx
  components/table/src20OverviewTable/SRC20Overview.tsx
  components/text/styles.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: enhance creator display links in table components
  components/table/marketplaceTable/StampListings.tsx
  components/table/marketplaceTable/StampSales.tsx
  components/table/src20OverviewTable/SRC20Minting.tsx
  components/table/src20OverviewTable/SRC20Overview.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update table components for improved styling and clarity
  components/table/explorerTable/SRC20Overview.tsx
  components/table/explorerTable/StampOverview.tsx
  components/table/marketplaceTable/StampListings.tsx
  components/table/marketplaceTable/StampSales.tsx
  components/table/src20OverviewTable/SRC20Minting.tsx
  components/table/src20OverviewTable/SRC20Overview.tsx
  components/text/styles.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(howto): add /howto/buy guide with FAQPage + HowTo JSON-LD
  components/section/howto/data.ts
  fresh.gen.ts
  routes/howto/buy/index.tsx
  routes/howto/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: enhance PlaceholderImage styling in table components
  components/table/explorerTable/StampOverview.tsx
  components/table/marketplaceTable/StampListings.tsx
  components/table/marketplaceTable/StampSales.tsx
  islands/filter/FilterDrawer.tsx
  islands/header/MarketplaceHeader.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: remove RecentSaleCard, RecentSalesGallery, and activity level constants
  islands/card/RecentSaleCard.tsx
  islands/section/gallery/RecentSalesGallery.tsx
  lib/constants/activityLevels.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: enhance SRC20Card and StampCard components for improved styling and functionality
  islands/card/SRC20Card.tsx
  islands/card/StampCard.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(howto): /howto/buy guide + FAQPage/HowTo JSON-LD (GEO loop #1) (#1187)
  components/section/howto/data.ts
  fresh.gen.ts
  routes/howto/buy/index.tsx
  routes/howto/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update styling and structure in various components
  islands/header/SRC20OverviewHeader.tsx
  islands/layout/BackgroundTopology.tsx
  islands/layout/Footer.tsx
  lib/utils/devDummyData.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update styling in MenuButton and ToolsButton components
  islands/button/MenuButton.tsx
  islands/button/ToolsButton.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update styles across multiple components for consistency and clarity
  components/form/styles.ts
  components/icon/styles.ts
  components/layout/styles.ts
  components/notification/styles.ts
  components/text/styles.ts
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

refactor: update modal background color and remove outdated test file
  static/modal.css
  tests/unit/recentSales.test.ts
Due: deno-fmt, deno-lint, import-pattern-validation, check-secrets, check-todos

refactor: streamline color palette in BackgroundTopology component
  islands/layout/BackgroundTopology.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(seo): FAQPage on /faq + HowTo schema on 8 guides (GEO)
  routes/faq/index.tsx
  routes/howto/deploytoken/index.tsx
  routes/howto/leatherconnect/index.tsx
  routes/howto/leathercreate/index.tsx
  routes/howto/minttoken/index.tsx
  routes/howto/sendstamp/index.tsx
  routes/howto/stamp/index.tsx
  routes/howto/transferbitname/index.tsx
  routes/howto/transfertoken/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

feat(seo): FAQPage on /faq + HowTo schema on 8 guides (GEO) (#1189)
  routes/faq/index.tsx
  routes/howto/deploytoken/index.tsx
  routes/howto/leatherconnect/index.tsx
  routes/howto/leathercreate/index.tsx
  routes/howto/minttoken/index.tsx
  routes/howto/sendstamp/index.tsx
  routes/howto/stamp/index.tsx
  routes/howto/transferbitname/index.tsx
  routes/howto/transfertoken/index.tsx
Due: deno-fmt, deno-lint, deno-check, import-pattern-validation, check-secrets, check-todos

Path conditions:
  deno-fmt: any of: \.(ts|tsx|js|jsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-lint: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/.*\.(js|cjs)
)$

  deno-check: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  tests/.*
)$

  import-pattern-validation: any of: \.(ts|tsx)$, but not: (?x)^(
  _fresh/.*|
  node_modules/.*|
  dist/.*|
  coverage/.*|
  tmp/.*|
  build/.*|
  vendor/.*|
  \.git/.*|
  scripts/migrate-.*\.ts|
  scripts/update-imports.*\.ts
)$

  check-secrets: any of: \.(ts|tsx|js|jsx)$
  check-todos: any of: \.(ts|tsx)$
